* {
  box-sizing: border-box; }

body {
  background: #131B23;
  font-family: coiny;
  color: #131B23; }

.wrapper {
  margin: auto;
  padding: 5px;
  border: 3px solid #F3F7F0;
  border-radius: 10px;
  width: 100%;
  height: 98vh;
  display: grid;
  grid-template: 5.5% 82% 1fr / 100%;
  grid-row-gap: 5px;
  align-content: stretch;
  align-items: stretch; }
  @media screen and (min-width: 770px) {
    .wrapper {
      width: 90%;
      grid-template: 12% 79% 1fr / 100%; } }
  .wrapper .header, .wrapper .game-wrapper, .wrapper .sentence-wrapper {
    border: inherit;
    border-radius: inherit;
    background-color: #F2545B; }
  .wrapper .header {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center; }
    @media screen and (min-width: 770px) {
      .wrapper .header {
        display: block; } }
    .wrapper .header .title-wrapper {
      text-align: center; }
      .wrapper .header .title-wrapper .title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0; }
        @media screen and (min-width: 770px) {
          .wrapper .header .title-wrapper .title {
            margin-top: .5%;
            margin-bottom: 0;
            display: block;
            font-size: 36px; } }
    .wrapper .header .btn-wrapper {
      text-align: center;
      margin-bottom: 10px; }
      .wrapper .header .btn-wrapper .btn {
        font-family: inherit;
        font-size: 12px;
        border: 2px solid #131B23;
        border-radius: 10px;
        color: #131B23;
        background-color: #F3F7F0;
        padding: 0 6px; }
        @media screen and (min-width: 770px) {
          .wrapper .header .btn-wrapper .btn {
            display: block;
            width: 15%;
            border: 3px solid #131B23;
            margin: 2px auto; } }
        .wrapper .header .btn-wrapper .btn:hover {
          cursor: pointer;
          background-color: #A93F55;
          color: #F3F7F0;
          border: 4px solid #F3F7F0;
          margin: 0 auto 1% auto; }
  .wrapper .game-wrapper {
    display: grid;
    grid-template: repeat(8, 12%)/repeat(7, 14%);
    justify-content: center;
    align-content: center;
    grid-gap: .2%; }
    .wrapper .game-wrapper .image-wrapper {
      border: inherit;
      border-radius: inherit;
      background-color: #131B23;
      justify-self: stretch;
      align-self: stretch;
      grid-area: 1 / 1 / 5 / 8; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .image-wrapper {
          grid-area: 2 / 2 / 8 / 7; } }
      .wrapper .game-wrapper .image-wrapper .image {
        width: 100%;
        height: 100%; }
      .wrapper .game-wrapper .image-wrapper .initial-text {
        font-size: 28px;
        color: #F3F7F0;
        text-align: center;
        position: relative;
        top: 33%;
        margin: auto 5px; }
    .wrapper .game-wrapper .letter-wrapper {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      text-transform: uppercase; }
      .wrapper .game-wrapper .letter-wrapper:hover {
        background-color: #A93F55;
        cursor: pointer; }
        .wrapper .game-wrapper .letter-wrapper:hover p {
          color: #F3F7F0;
          text-shadow: -2px 0 #131B23, 0 2px #131B23, 2px 0 #131B23, 0 -2px #131B23; }
      .wrapper .game-wrapper .letter-wrapper p {
        text-align: center;
        font-size: 24px;
        margin: 25% auto auto; }
        @media screen and (min-width: 770px) {
          .wrapper .game-wrapper .letter-wrapper p {
            margin: 15% auto auto; } }
    .wrapper .game-wrapper .clicked-wrong {
      background-color: #843142; }
      .wrapper .game-wrapper .clicked-wrong:hover {
        cursor: default;
        background-color: #843142; }
      .wrapper .game-wrapper .clicked-wrong p {
        color: #F3F7F0;
        text-shadow: -2px 0 #131B23, 0 2px #131B23, 2px 0 #131B23, 0 -2px #131B23; }
    .wrapper .game-wrapper .clicked-correct {
      background-color: #f68388; }
      .wrapper .game-wrapper .clicked-correct:hover {
        cursor: default;
        background-color: #f68388; }
      .wrapper .game-wrapper .clicked-correct p {
        color: #F3F7F0;
        text-shadow: -2px 0 #131B23, 0 2px #131B23, 2px 0 #131B23, 0 -2px #131B23; }
    .wrapper .game-wrapper .top {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .top {
          border-top: 0;
          border-right: 3px dashed #F3F7F0;
          border-bottom: 3px dashed #F3F7F0;
          border-left: 3px dashed #F3F7F0; } }
    .wrapper .game-wrapper .bottom {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .bottom {
          border-top: 3px dashed #F3F7F0;
          border-right: 3px dashed #F3F7F0;
          border-bottom: 0;
          border-left: 3px dashed #F3F7F0; } }
    .wrapper .game-wrapper .left {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .left {
          border-top: 3px dashed #F3F7F0;
          border-right: 3px dashed #F3F7F0;
          border-bottom: 3px dashed #F3F7F0;
          border-left: 0; } }
    .wrapper .game-wrapper .right {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .right {
          border-top: 3px dashed #F3F7F0;
          border-right: 0;
          border-bottom: 3px dashed #F3F7F0;
          border-left: 3px dashed #F3F7F0; } }
    .wrapper .game-wrapper .top-left {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .top-left {
          border-top: 0;
          border-right: 3px dashed #F3F7F0;
          border-bottom: 3px dashed #F3F7F0;
          border-left: 0; } }
    .wrapper .game-wrapper .top-right {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .top-right {
          border-top: 0;
          border-right: 0;
          border-bottom: 3px dashed #F3F7F0;
          border-left: 3px dashed #F3F7F0; } }
    .wrapper .game-wrapper .bottom-right {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .bottom-right {
          border-top: 3px dashed #F3F7F0;
          border-right: 0;
          border-bottom: 0;
          border-left: 3px dashed #F3F7F0; } }
    .wrapper .game-wrapper .bottom-left {
      border: 3px dashed #F3F7F0; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .bottom-left {
          border-top: 3px dashed #F3F7F0;
          border-right: 3px dashed #F3F7F0;
          border-bottom: 0;
          border-left: 0; } }
    .wrapper .game-wrapper .a {
      grid-area: 5 / 1 / 6 / 2; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .a {
          grid-area: 1 / 1 / 2 / 2; } }
    .wrapper .game-wrapper .b {
      grid-area: 5 / 2 / 6 / 3; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .b {
          grid-area: 1 / 2 / 2 / 3; } }
    .wrapper .game-wrapper .c {
      grid-area: 5 / 3 / 6 / 4; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .c {
          grid-area: 1 / 3 / 2 / 4; } }
    .wrapper .game-wrapper .d {
      grid-area: 5 / 4 / 6 / 5; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .d {
          grid-area: 1 / 4 / 2 / 5; } }
    .wrapper .game-wrapper .e {
      grid-area: 5 / 5 / 6 / 6; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .e {
          grid-area: 1 / 5 / 2 / 6; } }
    .wrapper .game-wrapper .f {
      grid-area: 5 / 6 / 6 / 7; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .f {
          grid-area: 1 / 6 / 2 / 7; } }
    .wrapper .game-wrapper .g {
      grid-area: 5 / 7 / 6 / 8; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .g {
          grid-area: 1 / 7 / 2 / 8; } }
    .wrapper .game-wrapper .h {
      grid-area: 6 / 1 / 7 / 2; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .h {
          grid-area: 2 / 7 / 3 / 8; } }
    .wrapper .game-wrapper .i {
      grid-area: 6 / 2 / 7 / 3; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .i {
          grid-area: 3 / 7 / 4 / 8; } }
    .wrapper .game-wrapper .j {
      grid-area: 6 / 3 / 7 / 4; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .j {
          grid-area: 4 / 7 / 5 / 8; } }
    .wrapper .game-wrapper .k {
      grid-area: 6 / 4 / 7 / 5; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .k {
          grid-area: 5 / 7 / 6 / 8; } }
    .wrapper .game-wrapper .l {
      grid-area: 6 / 5 / 7 / 6; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .l {
          grid-area: 6 / 7 / 7 / 8; } }
    .wrapper .game-wrapper .m {
      grid-area: 6 / 6 / 7 / 7; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .m {
          grid-area: 7 / 7 / 8 / 8; } }
    .wrapper .game-wrapper .n {
      grid-area: 6 / 7 / 7 / 8; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .n {
          grid-area: 8 / 7 / 9 / 8; } }
    .wrapper .game-wrapper .o {
      grid-area: 7 / 1 / 8 / 2; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .o {
          grid-area: 8 / 6 / 9 / 7; } }
    .wrapper .game-wrapper .p {
      grid-area: 7 / 2 / 8 / 3; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .p {
          grid-area: 8 / 5 / 9 / 6; } }
    .wrapper .game-wrapper .q {
      grid-area: 7 / 3 / 8 / 4; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .q {
          grid-area: 8 / 4 / 9 / 5; } }
    .wrapper .game-wrapper .r {
      grid-area: 7 / 4 / 8 / 5; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .r {
          grid-area: 8 / 3 / 9 / 4; } }
    .wrapper .game-wrapper .s {
      grid-area: 7 / 5 / 8 / 6; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .s {
          grid-area: 8 / 2 / 9 / 3; } }
    .wrapper .game-wrapper .t {
      grid-area: 7 / 6 / 8 / 7; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .t {
          grid-area: 8 / 1 / 9 / 2; } }
    .wrapper .game-wrapper .u {
      grid-area: 7 / 7 / 8 / 8; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .u {
          grid-area: 7 / 1 / 8 / 2; } }
    .wrapper .game-wrapper .v {
      grid-area: 8 / 2 / 9 / 3; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .v {
          grid-area: 6 / 1 / 7 / 2; } }
    .wrapper .game-wrapper .w {
      grid-area: 8 / 3 / 9 / 4; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .w {
          grid-area: 5 / 1 / 6 / 2; } }
    .wrapper .game-wrapper .x {
      grid-area: 8 / 4 / 9 / 5; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .x {
          grid-area: 4 / 1 / 5 / 2; } }
    .wrapper .game-wrapper .y {
      grid-area: 8 / 5 / 9 / 6; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .y {
          grid-area: 3 / 1 / 4 / 2; } }
    .wrapper .game-wrapper .z {
      grid-area: 8 / 6 / 9 / 7; }
      @media screen and (min-width: 770px) {
        .wrapper .game-wrapper .z {
          grid-area: 2 / 1 / 3 / 2; } }
  .wrapper .sentence-wrapper {
    display: grid;
    align-items: center; }
    .wrapper .sentence-wrapper .sentence {
      margin: 0 2px;
      font-size: 22px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (min-width: 770px) {
        .wrapper .sentence-wrapper .sentence {
          font-size: 28px; } }
  .wrapper .win {
    background-color: #f68388; }
  .wrapper .lose {
    background-color: #843142; }

/*# sourceMappingURL=styles.css.map */
